QUOTE_PROVIDER=ifind
QUOTE_POLL_INTERVAL=3.0
QUOTE_LOG_LEVEL=INFO
QUOTE_SERVICE_PORT=8000

# iFinD
IFIND_ACCESS_TOKEN=replace_with_access_token
IFIND_REFRESH_TOKEN=replace_with_refresh_token
IFIND_REQUEST_TIMEOUT=10
IFIND_SKIP_OFF_HOURS_REQUESTS=1

# Futu
FUTU_OPEND_HOST=host.docker.internal
FUTU_OPEND_PORT=11111

# Build
PIP_INDEX_URL=https://mirrors.aliyun.com/pypi/simple/
PIP_TRUSTED_HOST=mirrors.aliyun.com
